.messageBox {
    background: #F3F3F3;
    padding: 0px 20px;
    color: white;
    display: inline-block;
    max-width: 80%;
    border-radius: 15px;
  }
  
  .messageText {
    width: 100%;
    letter-spacing: 0;
    float: left;
    
    font-size: 0.9em;
    word-wrap: break-word;
  }

  .currentUser {
    text-align: right;
  }

  .outsideUser {
    text-align: left;
  }
  
  .messageText img {
    vertical-align: middle;
  }

  
  .messageContainer {
    display: flex;
    justify-content: flex-end;
    padding: 0 5%;
    margin-top: 2px;
  }

  .firstMessageContainer {
    margin-top: 10px;
  }

  .time {
    margin-top: auto;
  }

  
  .sentText {
    display: flex;
    align-items: center;
    font-family: Helvetica;
    font-size: 0.7em;
    letter-spacing: 0.3px;
  }

  .mt-10 {
    margin-bottom: -10px; 
  }
  
  .pl-10 {
    padding-left: 10px;
    float:right;
  }
  
  .pr-10 {
    padding-right: 10px;
  }
  
  .justifyStart {
    justify-content: flex-start;
  }
  
  .justifyEnd {
    justify-content: flex-end;
  }
  
  .justifyCenter {
    justify-content: center;
  }

  .colorWhite {
    color: var(--main-color-font);
  }

  .colorDarkGray {
    color: #5c5c5c;
  }

  .colorLightGray {
    color: var(--main-color-font);
  }
  
  .colorDark {
    color: #353535;
  }
  
  .backgroundBlue {
    background: var(--main-color);
  }
  
  .backgroundLight {
    background: rgb(218, 216, 216);
  }